<section>
  <nav>
    <mat-toolbar class="menu">
     <span>Drácula de Bram Stoker</span>

     <div style="padding-left: 3%;">
      <button mat-raised-button color="menu" routerLink="/home">Home</button>
      <button mat-raised-button color="menu" routerLink="/caracteres">Caracteres</button>
      <button mat-raised-button color="menu" routerLink="/galeria">Galeria</button>
      <button mat-raised-button color="menu" routerLink="/assistir">Assistir</button>
      <button mat-raised-button color="menu" routerLink="/contato">Contato</button>
    </div>

     <span class="example-spacer"></span>
     <button mat-icon-button class="menu-icon" aria-label="Example icon-button with heart icon">
       <mat-icon>favorite</mat-icon>
     </button>
   </mat-toolbar>
  </nav>
  <header class="header"></header>
</section>
